
.footer-wrapper {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #d3d3d3;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;    
}


.icons-container {
    height: 1.2158125rem;
    width: 16.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-right: 2rem;
}

.icons-container:hover {
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 1px 1px 10px white, 0 0 15px white, 0 0 20px white;
}



.fab {
    font-size: 1.5rem;
}

.fab:hover {
    cursor: pointer;
    color: goldenrod;
    transition: 0.5s;
    text-shadow: 1px 1px 10px gold, 0 0 15px gold, 0 0 20px gold;
}