.login-form-container-wrapper {
    // border: 1px solid brown;
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    // border: 1px solid orange;
}

.login-acccount-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid green;
}

.login-email, .login-password {
    font-size: 0.8125rem;
    line-height: 1.1rem;
    text-align: left;
    color: #777;
}

.login-field, .password-field {
    height: 2.813rem;
    width: 20.376rem;
    // border: 1px solid #777;
    text-align: start;
    font-size: 1rem;
    line-height: 0.9375rem;
    // border: 1px solid magenta
}

.login-field input, .password-field input {
    height: 30px;
    width: 350px;
    // border: 1px solid red;
    line-height: .938rem;
    font-size: 1rem;
    padding-left: 20px;
}

// .password-field input {
//    padding: 10px;
//    border: none;
// }

.signin-button {
    width: 360px;
    height: 45px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: .875rem;
    letter-spacing: 2px;
}

.signin-button:hover {
    // width: 360px;
    // height: 45px;
    // padding: 10px;
    // background-color: #fff;
    // color: #000;
    // transition: all .2s ease-in-out;
}

.login-email-text {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.login-password-text {
    padding-bottom: 43px;
}

.sign-in-container {
    height: auto;
    width: auto;
    text-align: left;
    line-height: 18.56px;
    font-size: 16px;
}

.sign-up-container {
    margin-left: 14.5%;
}

// .login-field {
//     background-color: #333;
//     width: 300px;
//     height: 50px;
//     border-style: none;
//     margin-bottom: 15px;
//     padding-left: 20px;
//     font-size: 16px;
//     border-radius: 3px;
// }

.demo {
    height: 1.2rem;
    width: 5rem;
}

.login-error {
    color: red;
}
