.login-form-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.login-acccount-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-email, .login-password {
    font-size: 0.8125rem;
    line-height: 1.1rem;
    text-align: left;
    color: #777;
}

.login-field, .password-field {
    height: 45px;
    width: 360px;
    border: 1px solid black;
    text-align: start;
    font-size: 1rem;
    line-height: 0.9375rem;
}

.login-field input{
    padding: 10px;
    border: none;
}

.password-field input {
   padding: 10px;
   border: none;
}



// .login-field {
//     background-color: #333;
//     width: 300px;
//     height: 50px;
//     border-style: none;
//     margin-bottom: 15px;
//     padding-left: 20px;
//     font-size: 16px;
//     border-radius: 3px;
// }