.main-body-container {
    display: flex;
    flex-direction: row;
}

.left-side-container h1 {
    font-size: 3rem;
    text-align: left;
    justify-content: left;
    padding: 0px 16px 0px 0px;
    font-weight: 600;
}

.left-side-container {      
    height: 293px;
    width: 230px;
    padding: 50px 0px 30px 50px;
    text-align: left;
    position: absolute;
    background-color: white;
    justify-content: center;
    line-height: 22.8px;
    margin: 125px;
}

.main-body-image {
    position: relative;
    height: 1132px;
    width: 566px;
    /* padding: 50px 900px 50px 250px; */
    margin-left: 288px;
    margin-top: 15px;
}

.left-side-container-list {
    font-size: 1.188rem;
    display: flex;
    flex-direction: column;
}

.left-side-container-items {
    height: 204px;
    width: 200px;
    padding: 30px 0px 15px;
    
}

.left-side-container-item {
    padding: 5px;
}

.click-category-link{
    text-decoration: none;
}