.main-body-products-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-products-container {
    display: flex;
    // align-items: center;
    // justify-content: center;
}

.main-products-items {
    display: flex;
    // align-items: center;
    // justify-content: center;
}