.lulu-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row-reverse;
}

.left-side-container {
    height: 293px;
    width: 230px;
    text-align: left;
    background-color: white;
    justify-content: left;
    line-height: 22.8px;
    padding: 1.875rem 1rem;
    width: 14.375rem;
}

.left-side-container-title {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 600;
}

.left-side-container-list {
    font-size: 1.1875rem;
    display: flex;
    flex-direction: column;
}

.left-side-container-wrapper {
    position: absolute;
    left: 20px;
}

.left-side-container-list-wrapper {
    padding: 30px 0px 15px;
    height: 204px;
    width: 200px;
}
.left-side-container-item {
    padding: 5px;
}

.click-category-link {
    text-decoration: none;
}

.splash-img {
    width: 85%;
    height: auto;
    margin-left: 5em;
}