.nav-bar-head {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: 10px;
}

.nav-bar-head-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding-top: 1.5rem;
    padding-left: 1.5625rem;
    padding-bottom: 0.75rem;
    padding-right: 1.5625rem;
}

.left-side-nav-bar {
   display: flex;
   align-items: center;
   font-weight: 700;
   justify-content: space-evenly;
   max-width: 808px;
   width: 40%;
   margin-left: 40px;
   margin-left: 100px;
}

.right-side-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
    font-size: .8rem;
    letter-spacing: .09375rem;
}

.nav-logo {
    height: 2.0625rem;
    margin-right: 30px;
}

.click-link, .login-button {
    text-decoration: none; 
    list-style-type: none;
}

.nav-bar-nav-link {
    list-style-type: none;
    font-size: .8rem;
    letter-spacing: .09375rem;
    padding-right: 1em;
    vertical-align: top;
}   


.login-button {
    padding: 8px;
    font-size: 0.70rem;
    font-weight: 600;
    letter-spacing: .09375rem;
    padding-right: 1em;
    vertical-align: top;
}

.line-break {
    color: grey;
}

.search-bar {
    line-height: 1.2rem;
    border: 2px;
    padding-right: 30px;
    padding-left: 10px;
    // padding-top: 1px;
    padding-bottom: 4px;
    // width: 76px;
    // height: 34px;
}

.search-bar input {
    height: 20px;
    width: 86px;
    font-size: .875rem;
}

.navbar-dropdown-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}









.dropdrop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.dropdown {
    float: left;
}

.dropdown a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown.second{
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}