.nav-bar-head {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
}

.nav-bar-head-container {
    display: flex;
    justify-content: space-between;
    align: left;
    width: 100%;
    padding-top: 1.5rem;
    padding-left: 1.5625rem;
    padding-bottom: 0.75rem;
    padding-right: 1.5625rem;
}

.left-side-nav-bar {
   display: flex;
   justify-content: center;
   align-items: center;
}

.right-side-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    height: 2.0625rem;
}

.click-link {
    text-decoration: none;
    list-style-type: none;
}

/* .greeting-container-links {
    text-decoration: none;
} */

