.whole-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    padding: 8px;
    box-sizing: border-box;
    justify-content: center;
    // border: 1px solid red;
}

.whole-page-wrapper *{
    box-sizing: border-box;
    // border: 1px solid blue
}

.whole-content-wrapper {
    display: flex;
    flex-direction: column;
}

.product-index-item {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    border-top: 1px solid #e0e0e0;
}

.product-index-item-picture {
    // height: 19.4375rem;
    // width: 23.375rem;
}
.show-pic {
    width: 100%;
}


.product-image-item-img {
    // height: 19.4375re\
    height: auto;
    width: 100%;
}

.product-item-color-button-holder {
    max-width: 900px;
    display: flex;
    justify-content: flex-start;
}

.single-button-container {
    font-weight: 400;
    line-height: 1.2;   
    font-size: 1rem;
    box-sizing: border-box;
    padding: .0625rem;
    align-items: center;
    margin-top: 5px;
    border-right: 2px solid red
}

.product-color-button {
    height: 2.125rem;
    width: 2.125rem;
    cursor: pointer;

    border-radius:50%;
    box-shadow: 0 0 0.03125rem 0.09375rem #d5d5d5;
    // color: #000;
    padding: .0625rem;
}

.product-color-button:hover {
    border: 1px solid #000;
}

.color-black {
    background-color: #000;
}

.product-item-name {
    width: 100%;
    font-size: 1.05rem;
    text-align: left;
    line-height: 1.5rem;
    margin: .4375rem 0 .4375rem;
    padding-right: 1rem;
    font-weight: 500;
}

.product-index-price {
    font-weight: 100;
    font-size: 1.25rem;
    margin: 0 0 .9375rem;
    text-align: left;
    border: 4px solid red;
}

// wrapper *{
//     box-sizing: border-box;
//     border: 1px solid red;
// }

.product-item-text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}


.product-index-item-container {
    display: flex
}

.productindex-wrapper {
    display: flex;
    justify-content: space-evenly;
    background-color: #fafafa;
}

.right-side-header {
    font-size: 2.5rem;
    font-weight: 500;
}

.right-side-product-index {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.productindex-buttons-container {
    // border: 1px solid red;
    margin-bottom: 1.8125rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}

.product-index-buttons {
    border: none;
    font-size: 1.12rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    outline:none;
    background-color:#ffffff;
    border-bottom: 3px solid #ffffff;
}

.product-index-buttons:hover {
    cursor: pointer;
    border-bottom: 3px solid #d22030;
    transition: all .35s ease-in-out;
}

.left-side-product-index {
    // border: 1px solid red;
}

