.product-show-whole-page-container {
    display: flex;
    padding: .5rem;
    box-sizing: border-box;
    justify-content: center;
    width: 100vw;
    // border: 1px solid red;
    // margin-top: 4.688rem;
    margin-top: 5.688rem;
}

.product-left-side-img {
    display: flex;
    width: 40%;
    // border: 1px0 solid red;
    height: auto;
}

.right-side-whole-container {
    display: flex;
    padding: .5rem;
    box-sizing: border-box;
    // border: 1px solid blue;
    padding-right: .78125rem;
    padding-left: .78125rem;
    flex-direction: column;
    height: auto;
    width: 23%;
    justify-content: space-evenly;
}
.main-product-description {
    box-sizing: border-box;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}



.clothes-description-container {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.product-price {
    font-size: 1.1rem;
    font-weight: 300;
    box-sizing: border-box;
}

.color-buttons-container {
    box-sizing: border-box;
    // border: 1px solid red;
    display: flex;
    line-height: 1.2;
    font-size: 1rem;
    margin-bottom: 3px;
}

.color-buttons {
    border-radius: 50%;
    box-shadow: 0 0 0.03125rem 0.09375rem #d5d5d5;
    height: 2.125rem;
    width: 2.112rem;
    margin: 1rem;
    padding: 1rem;
    outline:none;
    border-color: #d5d5d5;
    // border-spacing: 10px;

}

.color-buttons:hover {
    border-radius: 50px;
    padding: 2px;
    border-color:5px solid #d5d5d5;
    cursor: pointer;
    border: 1px solid #777777;
    //  border-spacing: 10px;
}

//  .color-buttons:active, 
//  .color-buttons:focus 
//  {
//      border:0.5em solid #00c; /* here configure as your needs */
//      color:#00c;
//   }

.size-container {
    box-sizing: border-box;
    // box-shadow: 0 0 0.03125rem 0.09375rem #d5d5d5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.clothes-size-button {
    margin-top: .5rem;
    border-radius: .25rem;
    box-shadow: 0 0 0 0.03125rem #d5d5d5;
    color: #000;
    margin: 1rem;
    align-items: center;
    font-weight: 600;
    height: 2.25rem;
    width: 2.25rem;
    padding: 0 .53125rem;
    
}

.clothes-size-button:hover {
    border: 1px solid #000;
}



.shipping-method {
    display: flex;
    flex-direction: column;
    border-bottom: .0625rem solid #e6e6e6;
    padding-bottom: 10px;
}

.purchase-method {
    background: #fff;
    border: .0625rem solid #e6e6e6;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.5625rem;
    box-sizing: border-box;
}

.purchase-method {
    display: flex;
    flex-direction: column;
    border: .0625rem solid #e6e6e6;
    border-radius: .25rem;
}

.radio-button-container-holder {
    line-height: 1.75rem;
    padding: .25rem .225rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.free-ship {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-left: 1.7rem;
    font-size: .9rem;
    color: #57585b
}
.radio-button {
    margin-right: .625rem;
    color: red;
}
.pickup-container {
    display: flex;
    align-items: center;
    line-height: 1.3125rem;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-left: 3px;
    border-bottom: .0625rem solid #e6e6e6;
}

.pickup-icon {
    display: flex;
    justify-content: center;
}

.fas.fa-university {
    font-size: 1.2rem;
}

.pickup-text {
    font-size: 1.3rem;
    line-height: 1.75rem;
    padding-left: 8px;
    font-weight: 500;
}

.add-to-bag-button {
    background-color: #d31334;
    border-color: #d31334;
    width: 100%;
    color: #fff;
    border-radius: .25rem;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 700;
    // height: 3.75rem;
    padding: 1rem 2rem;
    // width: auto;
}

.add-to-bag-button:hover {
    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
    -o-filter: brightness(90%);
    -ms-filter: brightness(90%);
    filter: brightness(90%);
}

.add-to-bag-button-container {
        margin: .5rem .625rem;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.details {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: .5rem 0;
}

.product-details {
    font-size: .8rem;
    font-weight: 600;
    margin-top: 2px;
    font-weight: 500;
}

.reviews-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: .6rem;
}

.left-side-product-show-review-box {
    display: flex;

    justify-content: flex-start;
}

.far.fa-star {
    font-size: 1rem;
    padding-right: 5px;
}

.right-side-product-show-chat-box {
    display: flex;
    justify-content: flex-start;
}

.far.fa-comment {
    font-size: 1.2rem;
    padding-left: 10px;
    margin-right: 5px;
}

.live-chat-text {
    padding-left: 5px;
}

.show-pic-show-page {
    // height: 42rem;
    width: 90%;
    // border: 1px solid red;
}

.first {
    background-color: grey;
}

.second {
    background: navy;
}

.third {
    background: gold;
}

.men-show-link {
    font-size: .75rem;
    text-decoration: none;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: .1875rem;
    font-weight: 500;
}

.men-show-link:hover {
    border-bottom: 1px solid #d22030;
    transition: all .35s ease-in-out;
    cursor: pointer;
}

.free-ship-returns {
    width: 100%;
    border-radius: .25rem;
    font-size: .9rem;
    display: flex;
    text-align: center;
    margin: .5rem 0;
    justify-content: center;
    line-height: 1.5rem;
}







.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // background: rgba(0, 0, 0, 0.7);
    background: white;
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}