
.search-product-items {
    display: flex;
    justify-content: flex-start;
    // margin-top: 1.5rem;
    margin: 1.5rem;
}

.search-product-items:hover {
    background-color: rgb(251, 251, 251);
}

.search-product-items-name {
    font-size: .85rem;
}

.search-product-items-img {
    min-height: 45px;
    margin-right: 10px;
    width: 25%;
}


.search-body-result {
    background-color: #fafafa;
    // background-color: #fff;
    position: absolute;
    width: 23.125rem;
    z-index: 2;
    box-sizing: border-box;
    top: calc(70% + 1.5rem);
    right: 16.5%;
}










.search-bar {
    line-height: 1.2rem;
    padding-right: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar input {
    // height: 2rem;
    // width: 120px;
    font-size: .875rem;
    border: none;
    outline: none;
}

.searchbar-icon {
    // display: grid;
    // grid-template-columns: 1.5rem 4fr 1fr;
    // width: 300px;
    border: 2px solid #ccc;
    overflow: hidden;
    align-items: center;
    // border: 1px solid #ccc;
    height: 2.5rem;
    display: flex;
}


.searchIcon {
    padding: 0.5rem;
    grid-row: 1;
    grid-column: 1/2;
    z-index: 2
}

.searchbox {
    border: 0;
    padding: 0.5rem;
    // grid-column: 2/4;
    // grid-row: 1;
    // outline: none;
    // border: 1px solid red;
    width: 70%;
}


.search-bar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
