.sign-up-form-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.create-account-container {
    display: flex;
    justify-content: center;
    height: auto;
}

.sign-up-email, .sign-up-password {
    font-size: 0.8125rem;
    line-height: 1.1rem;
    text-align: left;
    color: #777;
}

.sign-up-form-button {
    font-size: 0.9375rem;
    line-height: 0.9375rem;
    text-align: start;
    border: 1px solid #777;
    width: 100%;
    height: 45px;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 11px;
    padding-right: 18px;
}

.sign-up-field, .sign-up-password-field {
    height: 2.813rem;
    width: 20.376rem;
    // border: 1px solid #777;
    text-align: start;
    font-size: 1rem;
    line-height: 0.9375rem;
    // border: 1px solid magenta
}


.sign-up-field input, .sign-up-password-field input {
    width: 75%;
    height: .9rem;
    padding: .625rem;
    border: 1px solid black;
    line-height: .938rem;
    font-size: .825rem;
    font-weight: 200;
}

.sign-up-email-text {
    margin-bottom: 1.25rem;
    font-size: 0.6875rem;
}

.sign-up-password-text {
    margin-bottom: 2.75rem;
    font-size: 0.6875rem;
}

.signup-form-bottom {
    font-size: .87rem;
    line-height: 1rem;
    color: #57585b;
    text-align: left;
    margin-bottom: 1.1rem;
    margin-top: .4rem;
    width: 70%;
}

.signup-button {
    width: 70%;
    height: 45px;
    padding: 10px;
    background-color: #dbdbdb;
    color: #fff;
    font-size: .875rem;
    letter-spacing: 2px;
}

.signup-button:hover {
    color: #fff;
    transition: all .2s ease-in-out;
    background-color: #000;
}


.signup-container {
    padding-bottom: 20px;
}

.signUp-error {
    color: red;
}

.email-signup-header, .password-signup-header {
    display: flex;
    padding-bottom: .4375rem;
}

.signup-email-text {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.signup-email-text-bar, .signup-password-text-bar {
    color: #777;
    font-size: .75rem;
    padding-left: 3px;
}