.sign-up-form-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.create-account-container {
    display: flex;
    justify-content: center;
}

.sign-up-email, .sign-up-password {

}