// .lulu-body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .main-body-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     flex-direction: row-reverse;
// }

// .left-side-container {
//     height: 293px;
//     width: 230px;
//     text-align: left;
//     background-color: white;
//     justify-content: left;
//     line-height: 22.8px;
//     padding: 1.875rem 1rem;
//     width: 14.375rem;
// }

// .left-side-container-title {
//     display: flex;
//     flex-direction: column;
//     font-size: 3rem;
//     font-weight: 600;
// }

// .left-side-container-list {
//     font-size: 1.1875rem;
//     display: flex;
//     flex-direction: column;
// }

// .left-side-container-wrapper {
//     position: absolute;
//     left: 20px;
// }

// .left-side-container-list-wrapper {
//     padding: 30px 0px 15px;
//     height: 204px;
//     width: 200px;
// }
// .left-side-container-item {
//     padding: 5px;
// }

// .click-category-link {
//     text-decoration: none;
// }

// .splash-img {
//     width: 85%;
//     height: auto;
//     margin-left: 5em;
// }

// .main-container {
//     display: flex;
//     justify-content: space-evenly;
// }

// .main-product-item {
//     height: 100px;
//     flex-wrap: wrap;
//     padding-top: 30px;
//     border: 1px solid red;
//     margin-left: 100px;
// }

// .product-description {
//     border: 1px solid black;
//     padding-bottom: 10px;
//     flex-wrap: wrap;
//     font-size: 1.1rem;
//     line-height: 1.2rem;
// }

// .price {
//     border: 1px solid purple;
// }

// .front-page-items {
//     height: 300px;
//     width: auto;
//     border: 1px solid blue;
// }

// .splash-main {
//     display: flex;
//     // justify-content: center;
//     align-content: flex-start;
// }

// .splash-img {
//     display: flex;
//     height: 675px;
//     width: 1210px;
//     padding-left: 200px;
//     margin-left: 90px;
//     position: relative;
//     // justify-content: center;
//     align-items:flex-start;
// }

// .left-side-container {
//     display: flex;
//     flex-direction: column;
//     height: 293px;
//     width: 230px;
//     position: absolute;
//     background-color: white;
//     padding-top: 30px;
//     padding-bottom: 30px;
//     margin-left: 180px;
//     margin-top: 70px;
//     position: absolute;
//     text-align: left;
//     // border: 1px solid red;
// }

// .left-side-container-title {
//     font-size: 2.75rem;
//     line-height: 3rem;
//     text-align: left;
//     display: flex;
//     font-weight: 600;
//     padding-right: 16px;
// }

// .left-side-container-categories {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     text-align: left;
//     padding-top: 30px;
//     padding-bottom: 15px;
// }

// .left-side-container-category {
//     font-size: 1.05rem;
//     display: flex;
//     text-align: left;
//     margin-bottom: 22px;
// }
.whole-container-wrapper {
    padding-left: 1.625rem;
    padding-right: 1.625rem;
}

.splash-page-main-container {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.splash-page-main-image-container {
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    position: fixed;
    // z-index: 1;
    top:0%;
    right: 25%;
    position: static;
    margin-left: 110px;
 
}

.splash-page-img {
    display: flex;
    height: 37.56rem;
    width: 75.63rem;
}


.left-container {
    // border: 1px solid pink;
    display: flex;
    flex-direction: column;
    height: 293px;
    width: 230px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    background: white;
    position: absolute;
    left: 5%;
    bottom:20%;
}

.left-container-title {
    height: 3rem;
    width: 11.75rem;
    text-align: left;
    font-size: 2.35rem;
    line-height: 3rem;
    font-weight: 600;
    margin-right: 1rem;
}

.left-container-lists-wrapper {
    height: 12.69rem;
    width: 12.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 1.875rem;
    padding-bottom: 0.938rem;
}

.left-container-list-item {
    font-size: 1rem;
    line-height: 1.375;
    margin-bottom: 1.375rem;
    text-align: left;
}

.click-category-link {
    text-decoration: none;
}