.profile-container-wrapper {
    margin-left: 4.155%;
    margin-right: 4.155%;
    min-width: 90em;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    // max-width: 1322px;
    // min-width: 90em;
flex-wrap: wrap;
}

.profile-container-top-sectioin {
    padding-top: 2.75rem;
    // margin-top: 3%;
}

.profile-container-header {
    justify-content: flexe;
    text-align: center;
    font-size: 2.85rem;
    line-height: 50px;
    font-weight: 100;
    margin-top: 10px;
    width: 1070px;
    margin-bottom: 10px;
    color: #666;
    margin-left: 80px;
}

.profile-container-body-text {
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 1.00rem;
    font-weight: 100;
    margin-bottom: 0.625em;
    color: #666
}

.profile-container-icons-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 2.75em;
    margin-top: 40px;
    margin-bottom: 1.375em;
    width: 75%;
    margin-left: 7.278%;
    border-bottom: 1px solid #ddd;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 1em;
    line-height: 1.16;
}

.profile-container-icon {
    display: flex;
    width: 10.5rem;
    height: 6.938rem;
    margin-right: 2%;
    float: left;
    flex-direction: column;
    width: 15%;

}

.icon-description {
    font-size: .75rem;
    line-height: 17.5px;
    text-align: center;
    margin-top: 5px;
    color: #999;
}

.fas.fa-box-open,
.fas.fa-credit-card,
.fas.fa-shopping-bag {
    height: 3.75rem;
    width: 4.688rem;
    color: #999;
    font-size: 2em;
}

.far.fa-heart,
.far.fa-comment {
    height: 3.75rem;
    width: 4.688rem;
    color: #999;
    font-size: 2em;
}

.user-session-wrapper {
   display: flex;
   justify-content: space-evenly;
   height: 70.6rem;
   width: 70.6rem;

}

.sign-in-form-wrapper {
    display: flex;
    margin: 10px;
    text-align: left;
    justify-content: center;
    padding-left: 50px;
}

.sign-up-form-wrapper {
    margin-left: 2.0125rem;
    text-align: left;
    display: flex;
    height: 29.024rem;
    width: 22.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.sign-in-form-title, .sign-up-form-title {
    font-size: 0.6125rem;
    line-height: 0.8125rem;
    text-align: left;
    letter-spacing: 1.5px;
    fill: #333333;
    font-weight: 500;
    margin-bottom: .5rem;
}

.user-session-border {
    // border-left: 1px solid #ddd;
    // width: 1px;
    // height: px;
    // margin-left: 24px;
}


.user-session-wrapper {
    height: auto;
    margin-bottom: 6rem;
}

.user-session-wrapper {
    display: flex;
    width: 78%
}

.sign-up-form-wrapper {
    border-left: 1px solid #ddd;
    width: 40%;
}