.profile-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.profile-container-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.85rem;
    line-height: 50px;
    font-weight: 100;
    margin-bottom: 10px;
    width: 1070px;
    margin-bottom: 10px;
    color: #666
}

.profile-container-body-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.00rem;
    font-weight: 100;
    margin-bottom: 0.625em;
    color: #666
}

.profile-container-icons-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2.75em;
    margin-top: 40px;
    margin-bottom: 1.375em;
    width: 85%;
    margin-left: 7%;
    border-bottom: 1px solid #ddd;
    align-items: baseline;
}

.user-form-wrapper {
    display: flex;
}

.user-form-container {
    display: flex;
}

.profile-container-icon {
    display: block;
    width: 14%;
    margin-right: 2%;
    float: left;
    width: 130px;
}

.icon-description {
    font-size: .875rem;
    line-height: 17.5px;
    text-align: center;
    margin-top: 5px;
    color: #999;
}

.user-session-wrapper {
    display: flex;
    justify-content: center;
   
}

.sign-in-form-wrapper {
    display: flex;
    margin: 10px
}

.sign-up-form-wrapper {
    margin: 10px;
}

.sign-in-form-title, .sign-up-form-title {
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    text-align: left;
    letter-spacing: 1.5px;
    fill: #333333;
}

.user-session-border {
    border-left: 1px solid #777;
    width: 1px;
    height: px;
}
